.cart-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.cart-container {
  width: 70%;
  height: 70%;
  background: rgb(33, 37, 41);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.cart-footer {
  justify-content: center;
  display: flex;
  padding: 20px;
  gap: 20px;
  margin-top: auto;
}

.slide-top {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-background {
  animation: blur-background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes blur-background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
