.devlog {
    position: fixed;
    left: 16px;
    bottom: 16px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    opacity: .95;
    backdrop-filter: blur(8px);
    word-wrap: break-word;
    overflow: auto;
    width: 50%;
    max-width: 90%;
    height: 100px;
    max-height: 50%;
}